#root {
  display: flex;
  justify-content: center;
  background-color: #050A30;
  /* 001D3D */
}

body {
  height: 100%;
  line-height: 1.5rem;
}

.App {
  width: 80%;
  margin-top: 4rem;
}

.nav-item {
  cursor: pointer;
  transition: color .5s ease;
  display: inline-block;
  /* Increase clickable area of the anchor tag */
  position: relative;
  z-index: 1;
  padding: .5em;
  margin: -.5em;
}

.css-1eqdgzv-MuiPaper-root-MuiSnackbarContent-root {
  background-color: #EF476F !important;
  /* border-radius : .5rem !important;  */
  font-family: "Raleway" !important;
}

.nav-item:hover {
  color: white;
}

.active-nav-item {
  color: white;
}

.lang {
  color: #9388A2;
  cursor: pointer;
  transition: color .5s ease;
}

.lang:hover {
  color: #A3EBB1;
}

.active-lang {
  color: #A3EBB1;
}

.portrait {
  filter: grayscale(100%);
  transition: filter .5s ease;
}

.portrait:hover {
  filter: none;
}

em {
  color: #A3EBB1;
  font-style: normal;
}

#timeline {
  margin: 0px;
}

ul {
  margin: 0px;
}

.timeline-header {
  color: #A3EBB1;
  font-size: 1.25rem;
}

.timeline-date {
  font-size: .85rem;
  color: #9388A2;
}

.experience-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom : 5rem; 
}

.title {
  font-size: 2rem;
  color: white;
  margin-bottom: 4rem;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

.fade-in {
  animation: fadeIn 2s ease;
}

#skills-wrapper {
  margin-bottom: 7rem;
}

.skill {
  display: flex;
  align-items: center;
  color: white;
  gap: 2rem;
  margin: 1.5rem;
  font-size: 1.115rem;
}

.skill-bar {
  min-width: 300px;
}

.css-5xe99f-MuiLinearProgress-bar1 {
  background-color: #21B6A8 !important;
}

.bio-wrapper {
  margin-top: 6rem;
  padding: 3rem;
  margin-bottom: 5rem;
  height: 90vh;
  place-items: center;
  position: relative;
}

.bounce {
  animation: littleBounce .7s ease infinite;
}

.arrow {
  animation: bounce .7s ease infinite;
}

.project-title {
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.project-header {
  display: flex;
  justify-content: space-between;
}

.project-github {
  color: #9388A2;
  /* text-decoration: underline; */
  border-bottom: 1px #9388A2 solid;
  font-size: .8rem;
}

.project-test {
  color: #9388A2;
  cursor: pointer;
  transition: all .5s ease;
}

.project-test:hover {
  /* transform : scale(1.1) */
}

.underline {
  text-decoration: underline;
}

.project-github .project-duration, .project-number {
  margin-bottom: .5rem;
}

.duration {
  font-size: 1.15rem;
}

.duration {
  color: #21B6A8;
}

.project-description {
  font-weight: 500;
  color: #A3EBB1;
}

.project-wrapper {
  margin-top: 5rem;
  color: white;
  display: flex;
  align-items: center;
  gap: 5rem;
  justify-content: space-evenly;
  padding: 2rem;
  margin-bottom: 3rem;
}

.project-text-wrapper {
  width: 70%;
  border-radius: .5rem;
  background-color: #001D3D;
  padding: 2rem;
}

.project-img-wrapper {
  height: 0;
  width: 40%;
  padding-bottom: 40%
}

.project-img-link {
  width: 30%;
  padding-bottom: 25%;
  min-width: 10rem;
  min-height: 10rem;
}

.project-img {
  width: 30%;
  padding-bottom: 25%;
  min-width: 10rem;
  min-height: 10rem;
  border-radius: .75rem;
  background-size: cover;
  cursor: pointer;
  transition: transform .35s ease;
  background-color: black;
  display : block;
  /* border: 2px solid black; */
  position: relative;
}

.project-img:before {
  content: "";
  position: absolute;
  top: -3rem;
  right: -3rem;
  bottom: -2rem;
  left: -2rem;
  border: 2px solid #21B6A8;
  border-radius: 2rem;
}

.project-img:after {
  content: "";
  position: absolute;
  top: -2rem;
  right: -2rem;
  bottom: -3rem;
  left: -3rem;
  border: 2px solid #21B6A8;
  border-radius: 2rem;
}

/* 
.spotify-proj {
  border: 2px solid #A3EBB1;
  -webkit-box-shadow: 2px 2px 20px 5px #A3EBB1;
  box-shadow: 4px 0px 10px 0px #A3EBB1;
} */

.project-right {
  flex-direction: row-reverse;
}

.project-img:hover {
  transform: scale(1.05);
}

.social-icon {
  cursor: pointer;
  transition: all .2s ease;
}

.social-icon:hover {
  transform: scale(1.1);
  /* fill : #A3EBB1;  */
}

.techno-icon {
  opacity: 80%;
}

.techno-icon, .techno-icon g {
  display: block;
  width: 40px;
  stroke: #21B6A8;
}

.techno-icon, .techno-icon circle {
  fill: #21B6A8;
}

.svg-wrapper {
  height: 64px;
}

.symfony {
  margin-top: .8rem;
}

.symfony path {
  fill: #001D3D;
}

.MuiCircularProgress-root {
  height: 24px !important;
  width: 24px !important;
}

.contact-header {
  color: #A3EBB1;
  font-size: 1.5rem;
  margin-top: 5rem;
  font-weight: 500;
}

.contact-input {
  border-bottom: 2px solid #A3EBB1;
  transition: all .1s ease;
  color: white;
  padding-left: 10px;
  font-size: 1.2rem;
  margin-top: -.8rem;
}

.contact-input::placeholder, .email-container::placeholder {
  color: white;
  font-family: Raleway;
  font-weight: 500;
}

.email-container {
  height: 20rem;
  width: 25rem;
  outline: none;
  padding: 1.2rem;
  font-family: Raleway;
  font-size: 1.2rem;
  font-weight: 500;
  position: relative;
  border-radius: 1.8rem;
  border: 2px solid #21B6A8;
  background: transparent;
  color: white;
  max-width: 600px;
  min-width: 25rem;
  min-height: 200px;
}

.email-container::-webkit-scrollbar {
  display: none;
}

.email-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.outer-rect-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.8rem;
  border: 2px solid #21B6A8;
  padding: 1.5rem;
  position: relative;
}

.email-input:empty:not(:focus):before {
  content: attr(data-text)
}

.rectangle {
  border-radius: 1.5rem;
  border: 2px solid #21B6A8;
}

.contact-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  gap: 5rem;
  align-items: center;
  background-color: #001D3D;
  border-radius: 1rem;
  padding: 4rem 0rem;
  margin: 3rem 0rem;
}

.contact-flex{
  /* display : flex;  */
  /* justify-content: space-evenly; */
}

.contact-wrapper {
  color: white;
}


.tagcloud--item {
  margin : 2rem !important; 
  font-size: 1.5rem !important;
  height : 100px !important; 
  width : 100px !important;
}


#word-cloud{
  margin-bottom : 5rem; 
}

.hobby-container{
  display : flex;
  align-items : center; 
  justify-content : space-evenly;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.hobbies{
  width : 30%; 
  color : #21B6A8; 
}

@keyframes fadeIn {
  from {
    transform: translateY(200px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes bounce {
  from {
    transform: translateY(15px);
  }

  50% {
    transform: translateY(0px);
  }

  to {
    transform: translateY(15px);
  }
}

@keyframes littleBounce {
  from {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(0px);
  }

  to {
    transform: translateY(5px);
  }
}