@media (max-width: 850px) {

    /* Bio */
    .bio-wrapper {
        display: flex;
        flex-direction: column !important;
        margin-top: 5rem !important;
        justify-content: center;
    }

    .desc {
        text-align: center !important;
        width: 100% !important;
    }

    .align-center {
        text-align: center !important;
        width: 100% !important;
        display: flex;
        justify-content: center !important;
    }

    .css-1744jwa-MuiGrid-root {
        max-width: none !important;
    }

    .firstBox {
        flex-direction: column !important;
        align-items: center !important;
    }

    .firstBox>* {
        margin-bottom: 3rem;
    }

    /* Projects */
    .project-title {
        font-size: 1.75rem;
    }

    .project-description {
        font-size: 1rem;
    }

    .project-wrapper {
        flex-direction: column !important;
    }

    .project-text-wrapper {
        width: 95%;
    }

    .project-img {
        width: 15rem !important;
        height: 15rem !important;
    }
}

@media (max-width:450px) {

    * {
        max-width: 100vw !important;
    }

    .App {
        width: 80%;
    }

    .bio-wrapper {
        display: block !important;
        margin-top: 5rem !important;
        width: 100% !important;
        height: max-content !important;
        padding: 0;
        margin: 0 !important;
        gap: 0;
    }

    .portrait {
        display: block !important;
        margin-top: 3rem !important;
    }

    .navbar {
        flex-direction: column-reverse !important;
    }

    .bio-text {
        width: 100% !important;
        width: 300px !;
        max-width: none !important;
        padding: 0;
    }

    .bio-box {
        width: 100% !important;
    }

    .desc {
        width: 100% !important;
    }

    .portrait {
        margin-bottom: 4rem;
    }

    /* #timeline {
        width: 100% !important;
        font-size : 1rem !important;
        display : block;
    } */

    .timeline-header {
        font-size: 1.1rem;
    }

    .timeline-desc {
        font-size: .8rem;
    }

    #skills-wrapper {
        width: 100%;
    }

    .skill {
        flex-direction: column;
        gap: .5rem;
        text-align: center;
    }

    .css-1qbae50-MuiLinearProgress-root {
        min-width: 200px !important;
        width: 200px !important;
    }

    .css-1nbic85 {
        font-size: 1rem !important;
        width: 100px !important;
    }

    .hobby-container {
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        width: 100% !important;
    }

    #word-cloud {
        width: max-content !important;
    }

    .tagcloud--item {
        font-size: 1.2rem !important;
    }

    .portrait {
        width: 250px !important;
        height: 250px !important;
    }

    .language-switch {
        margin-bottom: 1.5rem;
    }

    .language-switch span {
        margin: .5rem
    }

    .hobby-container {
        margin-top: 2rem;
    }

    .project-description, .project-duration, .project-number{
        width : 100%; 
        font-size: .9rem;
    }

    .project-text-wrapper{
        width : 100%; 
    }

    .project-wrapper{
        padding : 0; 
    }

    .email-wrapper{
        padding : 1rem 2rem !important;
        width : 100%
    }

    .email-wrapper input{
        font-size: 1rem !important;
    }

    .email-container{
        font-size: 1rem !important;
        padding : 1rem 2rem !important;
        height : 20rem;
        min-width : 10rem;
        width : 100%;
        margin-top: -2rem;
    }

    .outer-rect-contact{
        border : none; 
        width : 100%; 
        padding : .5rem; 
    }

    .contact-icons{
        display : grid !important; 
        grid-template-columns: repeat(2, 1fr);  
        place-items: center;
    }

}